{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-pink py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Información de envío</h1>
          <h1 class="display-4 fw-bolder">Método de pago</h1>
          <p class="lead fw-normal text-white-50 mb-0">ingresa tu información de envío y Selecciona el metodo de pago</p>
      </div>
  </div>
</header>

<div class="container py-3">
  <form class="mb-3" method="POST" action="{% url 'add_shipping_information' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
</div>



{% include 'pago-yuno.html' %}


                                                           
{% endblock %}
