{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-pink py-5" style="background-color: #FFC0CB;">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Sobre nosotros</h1>
          <p class="lead fw-normal text-white-50 mb-0">Karolito Luxe Styles</p>
      </div>
  </div>
</header>

<div class="container py-3">
  <p class="justificado">
    Bienvenidos a Karolito Luxe Styles, donde la moda se encuentra con la elegancia y la comodidad.
    Fundada con la visión de ofrecer una experiencia de compra única y personalizada,
    Karolito Luxe Styles nació del amor por la moda y el deseo de hacer que cada persona
    se sienta especial y segura con su estilo.
    Nuestra pasión por la moda se refleja en cada prenda que seleccionamos cuidadosamente para ti.</p>
</div>

{% endblock %}
