{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-pink py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Editar Categoría</h1>
          <p class="lead fw-normal text-white-50 mb-0">Editar los datos de Categoría</p>
      </div>
  </div>
</header>

<div class="container py-3">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
{% endblock %}
