{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-pink py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Karolito Luxe Styles</h1>
          <p class="lead fw-normal text-white-50 mb-0">¡No te pierdas nuestras ofertas exclusivas!</p>
      </div>
  </div>
</header>

<!-- Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for store_product in store_products %}
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img
                        alt="{{ store_product.name }}"
                        class="card-img-top p-3"
                        height="300"
                        src="{{ store_product.picture.url }}"
                        style="object-fit: contain;"
                        width="450"
                      />
                      <!-- Product details-->
                      <div class="card-body p-4">
                          <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ store_product.name }}</h5>
                            <!-- Product price-->
                            ${{ store_product.price }}
                          </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center">
                            {% if store_product.quantity %}
                              <a class="btn btn-outline-pink mt-auto" href="{% url 'store_product' store_product.id %}">Ver detalles</a>
                            {% else %}
                              <del>Indisponible</del>
                            {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
